*{
    margin:0%;
    padding:0%;
}
/* for main.js*/
.background{
    
    background: black;
    color:white;
    height:auto;
    background-repeat: no-repeat;
    
}

/* for head.js */

.cover{
    background: url("./images/cov2.jpg");
    background-size: cover;
    height:700px;
}

.forhead{
    height:90px;
    display: flex;
    opacity: 0.8;
    color:rgb(238, 238, 238);
    /*background:rgba(41, 3, 44, 0.8);*/
    animation: revelations 1.5s ease-in;
    /*border-bottom: 1px solid purple;*/
}
.super{
    font-size: 56px;
    font-weight: 400;
    color:white;
    margin-top: 15%;
    text-align: center;
    animation: lefthero 1s linear
}
.mini{
    font-size: 26px;
    font-weight: 400;
    color:white;
    text-align: center;
    font-style: italic;
    animation: righthero 1s linear;
}
.hh{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hh button{
    color:white;
}

@keyframes lefthero {

    0%{
        transform: translateX(-400px);
        opacity: 0.1;
    }
    50%{
        transform: translateX(-200px);
        opacity: 0.5;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes righthero {
    0%{
        transform: translateX(400px);
        opacity: 0.1;
    }
    50%{
        transform: translateX(200px);
        opacity: 0.5;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes revelations{
    0%{
        transform: translateY(-100px);

    }
    50%{
         transform: translateY(-50px);

    }
    80%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);

    }
}
.left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left img{
    margin-right: 4%;
}
.left img:hover{
    animation: rev 3s linear;
}
.left p{
    font-size: 28px;
    font-weight: 600;
}
.left p:hover{
    transition-duration: 1s;
    color:orange;
    cursor: pointer;
}
.right{
    flex:2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.right ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width:80%;
}
.right ul li{
    font-size: 20px;
}
.right ul li a{
    text-decoration: none;
    color:white;
}
.right ul li  a:hover{
    color:orange;
    border-bottom: 1px solid orange;
}
@keyframes rev{
    0%{
        transform: translate(0px,0px);
        
    }
    33%{
        transform: translate(20px,-20px);
    }
    66%{
        transform:translate(0px,0px);
    }
    100%{
        transform: rotateX(-20px,20px);
    }
}

/*contains.js*/

.sectionport{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    height:800px;
    align-items: center;
    
}
.sectionport p {
    font-size: 40px;
    
}
.carousel{
    width:100%;
}

/*.btn{
    margin-top: 8%;
}*/
@media (max-width:800px)
{
    .forhead{
        height:90px;
        display: flex;
        color:rgb(238, 238, 238);
        background:rgba(41, 3, 44, 0.8);
        animation: revelations 2s ease-out;
    }
    .left{
        flex: 1.7;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .left p{
        font-size: 20px;
    }
    .left img{
        width:40px;
        height: 40px;
    }
    .right ul li{
        font-size: 16px;
    }
    .super{
        font-size: 30px;
    }
    .mini{
        font-size: 16px;
    }
    .cover{
        height: 400px;
    }
    
}